input, select, textarea, button
  // RESET
  line-height: 1;
  outline: 0;
  box-shadow: none;
  appearance: none;
  // font: inherit;
  border: 0;
  // ADD
  border-radius: 5px;
  padding: 0 1em; // 0.7em 1em;
  height: 40px;
  font-size: 14px;

label, select, button
  cursor: pointer;

// button
button
  border: 2px solid #FFF;

.btn_blue
  color: #FFF;
  background: #0087B4;

  &:hover
    background: #00BFFF;

.btn_green
  background: #128312;
  color: #FFFFFFD9;

  &:hover
    color: #202020;
    background: #7FFF7F;

// 
input, textarea, select
  width: 100%;
  border: 2px solid #00BFFF;

  &:focus
    border-color: gold;

textarea
  min-height: 6em;
  resize: vertical;
  overflow: auto;

label
  user-select: none;
  display: block;
  color: #CEC8C8;
  font-size: 12px;
  line-height: 2rem;

select
  background: #FFF url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"><polygon points="0,0 12,0 6,12" fill="gainsboro"/></svg>') right no-repeat;