input, select, textarea, button
  // RESET
  line-height: 1;
  outline: 0;
  box-shadow: none;
  appearance: none;
  // font: inherit;
  border: 0;
  // ADD
  border-radius: 5px;
  padding: 0 1em; // 0.7em 1em;
  height: 40px;
  font-size: 14px;

label, select, button
  cursor: pointer;

.btn_blue
  color: #FFF;

  // font-weight: bold;
  // padding: 0.7rem 2rem;
  // background: #FFF;
  &:hover
    // background: $blue_l;
    // color: #FFF;
    box-shadow: 0px 2px 11px rgba(45, 113, 247, 0.2), 0px 1px 10px rgba(45, 113, 247, 0.15), 0px 1px 11px rgba(45, 113, 247, 0.8);

input, textarea, select
  width: 100%;
  border: 2px solid #00BFFF;

textarea
  min-height: 6em;
  resize: vertical;
  overflow: auto;

label
  display: block;
  color: #CEC8C8;
  font-size: 12px;
  line-height: 2rem;

select
  background: #FFF url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"><polygon points="0,0 12,0 6,12" fill="gainsboro"/></svg>') right no-repeat;