.table-responsive
  width: 100%;
  overflow-x: auto;



table
  border-collapse: collapse;
  tbody
    border 1px solid rgba(#FFF, .5)
  th
    text-align: left
    font-size 1.1em
tr
  &:nth-child(even)
    background: rgba(#FFF, .2);

  &:hover
    background #000
    outline 2px solid red
    outline-offset: -1px;

thead
  border-bottom: 3px solid #CCC;

td, th
  padding: 0.7em;

.td_buttonGroup
  width: 1%;

// ======
.table_col
  td, th
    border-right: 1px solid $border;

    &:last-child
      border-right: 0;

// ======
.table_distance
  td, th
    padding: 1em 1.5em;


// ======
.table_grid
  td, th
    border-right: 1px solid rgba(#FFF, .2);

    &:last-child
      border-right: 0;

  tr:last-child
    border-bottom: 0;

// ======
.border
  td, th
    border: 1px solid $border;