*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

:root
  font: 100% / 1.4 'Roboto', sans-serif;
  background: #991199;

.Page
  padding: 1em;
  // background: #991199;
  color: #FFF;
  min-height: 100vh;
  position: relative;

.Logo
  position: fixed;
  left: 1em;
  top: 1em;
  background: url('~static/icon-svg/Logo_Dron_Taxi.svg') no-repeat left center;
  background-size: 2em;
  line-height: 3em;
  padding-left: 3em;
  font-weight: bold;
  font-size: 1.4rem;

@import 'vars';
@import 'form';
@import '__@Utilities';