*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

:root
  font: 100% / 1.4 'Roboto', sans-serif;


@import '_vars';
@import '__@Utilities';
@import '_form';
@import '_chekbox';
@import '_table';

.Grid
  background: #991199;
  color #FFF
  //
  display: grid;
  height: 100vh;
  overflow-x: hidden; // for hidden sidebar
  grid-template-columns: 300px 1fr;
  grid-template-rows: 6em 1fr;
  grid-template-areas:
    'header header'\
    'sidebar main'\
    'sidebar main';

  a
    text-decoration none
    color #FFF
// Header
.Header
  grid-area: header;
.logo
  display inline-block
  text-decoration none
  color #FFF
  margin .5em 1em
  background: url('~static/icon-svg/Logo_Dron_Taxi.svg') no-repeat left center;
  font-size: 1.4rem;
  background-size: 2em;
  line-height: 3em;
  padding-left: 3em;
  font-weight: bold;



// Main
.Main
  scrollableArea()

  grid-area: main;
  padding: 1em 1.4em;
  background: #800080;

  &_body
    background: #991199;
    padding: 1em;

  h1
    margin-bottom 1rem

// Sidebar
.Sidebar
  grid-area: sidebar;
  margin: 3em 1.4em 1em;


.i_1
  background-image: url('~static/icon-svg/profile.svg')
.i_2
  background-image: url('~static/icon-svg/manag-user.svg')
.i_3
  background-image: url('~static/icon-svg/manag-role.svg')
.i_4
  background-image: url('~static/icon-svg/exit.svg')
.Nav
  &_item
    user-select none
    cursor pointer
    height: 40px;
    line-height: 40px;
    padding-left: 3em;
    display: block;
    background-position: 10px center;
    background-repeat: no-repeat;
    &:hover
      border-bottom 2px solid #7FFF7F
    &.nuxt-link-exact-active
      background-color: #800080;


