*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

:root
  font: 100% / 1.4 'Roboto', sans-serif;
  background: #991199;

@import '_vars';
@import '__@Utilities';
@import '_form';
@import '_table';

.Page
  padding: 6em 1em 1em;
  // background: #991199;
  color: #FFF;
  min-height: 100vh;
  position: relative;

.Logo
  position: fixed;
  left: 1em;
  top: 1em;
  background: url('~static/icon-svg/Logo_Dron_Taxi.svg') no-repeat left center;
  background-size: 2em;
  line-height: 3em;
  padding-left: 3em;
  font-weight: bold;
  font-size: 1.4rem;

.Grid
  display: grid;
  grid-template-columns: 300px 1fr;

.Main
  padding: 1em;
  background: #800080;

  &_body
    background: #991199;
    padding: 1em;

.Nav
  margin: 1em;

  &_item
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding-left: 1em;
    display: flex;

    &:before
      content: '';
      display: inline-block;
      width: 2em;
      height: 2em;
      background: url('~static/icon-svg/manag-user.svg') no-repeat left center;

    &:hover
      background: #800080;